appdirs==1.4.3
asgiref==3.2.5
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cx-Freeze==6.1
dialogflow==1.0.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.4
django-crispy-forms==1.9.1
fastapi==0.61.0
filelock==3.0.12
Flask==1.1.2
google-api-core==1.20.0
google-auth==1.17.2
googleapis-common-protos==1.52.0
grpcio==1.29.0
gunicorn==20.0.4
h11==0.9.0
heroku==0.1.4
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
ngrok==0.0.1
Pillow==7.1.1
pipenv==2020.6.2
protobuf==3.12.2
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.6.1
PyJWT==1.7.1
PyMySQL==0.9.3
python-dateutil==1.5
pytz==2019.3
requests==2.23.0
rsa==4.6
six==1.14.0
sql==0.4.0
sqlparse==0.3.1
starlette==0.13.6
twilio==6.42.0
urllib3==1.25.9
uvicorn==0.11.8
virtualenv==20.0.15
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
websockets==8.1
Werkzeug==1.0.1
whitenoise==5.1.0
zipp==3.1.0
